body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em auto;
    padding: 1em;

}


.pokemon {
  width:250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(200, 200, 200);
  border-radius: .5em;
  padding:1em;
  margin: 1em;
  cursor: pointer;
  transition: .2s;
}



.showPokemon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: white;
  width:50%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(200, 200, 200);
  border-radius: .5em;
  padding:1em;
  margin: 1em;
  transition: .2s;
}

.pokemon:hover {
  border: 1px solid rgb(0, 162, 255);
  background: rgb(236, 248, 255);
}

.name {
  font-size: 1.5rem;
  font-weight: 400;
}

.heading {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1em;
}

.subheading {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.types {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .75em;
}

.type {
    border-style: none;
    padding: .4em 1em;
    border-radius: .5em;
    background: rgb(0, 162, 255);
    color: #fff;
    font-size: 1em;
    margin: 0 .25em;
}

.info-header {
  color: rgb(90, 90, 90);
  font-size: 1.3rem;
}

.info-content {
  color:rgb(75, 75, 75);
  font-size: 1.125rem;
}